.magnifier-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: none
}

.zoom-slider-container {
  position: absolute;
  top: 20%;
  left: 75%;
  height: 500px;
  margin: 20px;
}

.saturation-slider {
  position: absolute;
  width: 600px;
  margin: 20px;
  left: 30%;
  top: 80%;
}

.data {
  position: absolute;
  width: 100%;
  text-align: center;
}